<head>
ISBN Validator
</head>
<body>
<form method = "post" action = "check">
Please enter an ISBN number to validate.
<input type = "text" name = "isbn_input">
<button type = "submit"> Continue </button>
</form>
</body>